@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Lato:wght@100;300;400;700&family=Mulish:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(214, 232, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh ;
}
.container
{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #ffff;
  display: grid;
  margin: 50px;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side
{
    position: relative;
    background: #0c4591;
    padding: 40px;
    height: 100%;
}

.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgb
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50% ;
    overflow: hidden;
}

.profileText .imgb img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.profileText h2
{
    color: rgb(248, 248, 248);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight : 600;
    line-height: 1.4em;
}
.profileText h2 span
{
    font-size: 0.8em;
    font-weight : 300;
}
.contactinfo
{
padding-top: 40px;
}
.title
{
    color: azure;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom : 20px;
}
.contactinfo ul
{
  position: relative;
}
.contactinfo ul li 
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactinfo ul li .icon
{
    display: inline-block;
    width: 30px ;
    font-size: 18px;
    color: aquamarine;
}
.contactinfo ul li span
{
  color: azure;
  font-weight : 300 
}
.contactinfo.education li
{
 margin-bottom: 15px;   
}
.contactinfo.education h5
{
    color :aquamarine;
    font-weight : 500;
}
.contactinfo.education h4:nth-child(2)
{
    color:azure;
    font-weight: 500;
}
.contactinfo.education h4
{
    color:azure;
    font-weight: 300;
}
.contactinfo.language{
    position: relative;
 
}

.container .right_side
{
    position: relative;
    background: #ffff;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin: bottom 0; 
}
.title2
{
    color: #040b1d;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
   color:rgb(1, 12, 17)
}
.about .box 
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company
{
  min-width: 150px;
}
.about .box .year_company h5
{
    text-transform: uppercase;
    color: rgb(6, 59, 90);
    font-weight: 600;
}
.about .box .text h4 
{
    text-transform: uppercase;
    color: #0c4591;
    font-size: 16px;
}
.skills .box
{
   position: relative;
   width: 100%;
   display: grid;
   grid-template-columns: 150px 1fr;
   justify-content: center;
   align-items: center;
}
.skills .box h4
{
    text-transform: uppercase;
    color: #0c4591;
    font-weight: 500;
}
.associative ul
{
   display: grid;
   grid-template-columns: repeat(2,1fr);
}
.associative ul li 
{
    list-style: none;
    color: #0c4591;
    font-weight: 500;
    margin: 10px 0;
}
.associative ul li .fa
{
    color:rgb(41, 141, 255);
    font-size: 18px;
    width: 20px;
}
.interest ul
{
   display: grid;
   grid-template-columns: repeat(4,1fr);
}
.interest ul li 
{
    list-style: none;
    color: #0c4591;
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fa
{
    color: rgb(41, 141, 255);
    font-size: 18px;
    width: 20px;
}

@media (max-width : 1000px)
{
    .container
    {
      margin: 10px;
      grid-template-columns: repeat(1,1fr);
    }
    .interest ul {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width : 1000px)
{
    .about.box
    {
      flex-direction: column;
    }
    .about.box .year_company
    {
        margin-bottom: 5px;
    }
    .interest ul {
     grid-template-columns: repeat(1,1fr); 
    }
    .skills .box
    {
        grid-template-columns: repeat(1,1fr);
    }
}